src/workflows/ai_project_coast_reports.json
{
  "name": "ai project coast reports",
  "nodes": [
    {
      "parameters": {
        "jsCode": " const rawData = `\nWebsite Redesign\\t40\\t50\\t2025-06-17\\tRakesh\\tDesign\\tInitial layout done\nMobile App Dev\\t32\\t65\\t2025-06-17\\tPriya\\tDevelopment\\tWaiting on UI review\nMarketing Sprint\\t20\\t45\\t2025-06-18\\tAnusha\\tMarketing\\tCampaign live\nWebsite Redesign\\t35\\t50\\t2025-06-24\\tRakesh\\tDesign\\tResponsive fixes completed\nMobile App Dev\\t40\\t65\\t2025-06-24\\tPriya\\tDevelopment\\tFinal build submitted\n`;\n\n// Step 1: Define headers\nconst headers = [\n  \"project_name\",\n  \"hours\",\n  \"rate\",\n  \"report_date\",\n  \"team_member\",\n  \"category\",\n  \"notes\"\n];\n\n// Step 2: Parse each line\nconst rows = rawData.trim().split('\\n');\n\nconst output = rows.map(line => {\n  const values = line.split('\\t');\n  const entry = {};\n\n  headers.forEach((key, i) => {\n    const val = values[i];\n    if (key === 'hours' || key === 'rate') {\n      entry[key] = Number(val);\n    } else {\n      entry[key] = val;\n    }\n  });\n\n  // Step 3: Add calculated total cost\n  entry.total_cost = entry.hours * entry.rate;\n\n  return { json: entry }; // 👈 Required by n8n\n});\n\n// Step 4: Return array of items\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        100
      ],
      "id": "4e81767f-fc55-4a60-ad7f-e27d96701c61",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": " const data = [\n  {\n    project_name: \"Website Redesign\",\n    hours: 40,\n    rate: 50,\n    report_date: \"2025-06-17\",\n    team_member: \"Rakesh\",\n    category: \"Design\",\n    notes: \"Initial layout done\",\n    total_cost: 2000,\n  },\n  {\n    project_name: \"Mobile App Dev\",\n    hours: 32,\n    rate: 65,\n    report_date: \"2025-06-17\",\n    team_member: \"Priya\",\n    category: \"Development\",\n    notes: \"Waiting on UI review\",\n    total_cost: 2080,\n  },\n  {\n    project_name: \"Marketing Sprint\",\n    hours: 20,\n    rate: 45,\n    report_date: \"2025-06-18\",\n    team_member: \"Anusha\",\n    category: \"Marketing\",\n    notes: \"Campaign live\",\n    total_cost: 900,\n  },\n  {\n    project_name: \"Website Redesign\",\n    hours: 35,\n    rate: 50,\n    report_date: \"2025-06-24\",\n    team_member: \"Rakesh\",\n    category: \"Design\",\n    notes: \"Responsive fixes completed\",\n    total_cost: 1750,\n  },\n  {\n    project_name: \"Mobile App Dev\",\n    hours: 40,\n    rate: 65,\n    report_date: \"2025-06-24\",\n    team_member: \"Priya\",\n    category: \"Development\",\n    notes: \"Final build submitted\",\n    total_cost: 2600,\n  },\n];\n\n// Build plain text report\nlet report = `🧮 Weekly Project Cost Report\\n\\n`;\nlet total = 0;\n\nfor (const row of data) {\n  total += row.total_cost;\n  report += `\n📁 Project      : ${row.project_name}\n👤 Team Member  : ${row.team_member}\n📅 Report Date  : ${row.report_date}\n🕒 Hours Worked : ${row.hours}\n💰 Rate         : ₹${row.rate}\n📂 Category     : ${row.category}\n📝 Notes        : ${row.notes}\n💸 Total Cost   : ₹${row.total_cost}\n------------------------------\\n`;\n}\n\nreport += `\\n🔚 Total Cost Across All Projects: ₹${total}\n✅ Report generated by QAID Agent.\n`;\n\nreturn [\n  {\n    json: {\n      text_body: report.trim(),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        120
      ],
      "id": "d7c755da-8b0f-421b-ae59-de5f75bf4535",
      "name": "Code1"
    },
    {
      "parameters": {
        "binaryPropertyName": "datas",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -420,
        120
      ],
      "id": "f838bbef-b49c-4427-884e-de64c3561ec7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Auto",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        120
      ],
      "id": "057d166e-0757-4979-a1e4-92e94732e616",
      "name": "Webhook",
      "webhookId": "84adfced-552b-435e-903e-766f4b7111f8"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J7lpl90OuWW46i9HK0sYxL5Nmjtxa0YncJKtc9aqr-M",
          "mode": "list",
          "cachedResultName": "  Automated_Weekly_Project_Cost_Reports_with_MySQL_and_Outlook_HTML_Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7lpl90OuWW46i9HK0sYxL5Nmjtxa0YncJKtc9aqr-M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7lpl90OuWW46i9HK0sYxL5Nmjtxa0YncJKtc9aqr-M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hours",
              "displayName": "hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rate",
              "displayName": "rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_date",
              "displayName": "report_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "team_member",
              "displayName": "team_member",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        300,
        120
      ],
      "id": "61d88003-02b7-4d0d-b1d4-a16370ad1841",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j4H8rPW8oVxaepE2",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dev.ai.qaid@gmail.com",
        "subject": "weekly Project coast report",
        "emailType": "text",
        "message": "={{ $json.text_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1320,
        100
      ],
      "id": "724f9eb3-d174-4c5d-8e3f-13734aa88168",
      "name": "Gmail",
      "webhookId": "2483c553-6f6e-4c91-8f97-bad462644bcf",
      "credentials": {
        "gmailOAuth2": {
          "id": "5fJjFEIyfPnBJVgf",
          "name": "Gmail account 7"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2978fb3-b802-43fb-a776-a3dac37cbd24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4da3e4feddd42df58fa861bd27ff786155b680eb2d7948e126da15f5d08ab036"
  },
  "id": "cvYA9GIhp3tbUp00",
  "tags": []
}