src/workflows/ATS_TO_HRMS_CANDIDATE_Status_sync (2).json
{
  "name": "ATS TO HRMS CANDIDATE Status sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/details-sync",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        1120
      ],
      "id": "1a92ad60-a6b9-4cf2-b304-89a0e5063237",
      "name": "ATS Webhook",
      "webhookId": "485e7845-9675-428f-887e-287628503eda"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -180,
        1020
      ],
      "id": "b72d41c0-59b6-44e0-b082-292c4b0868d0",
      "name": "Merge Triggers"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst processedIds = new Set();\nconst results = [];\nconst syncStatus = [];\n\nlet skippedCount = 0;\nlet successCount = 0;\nlet pendingCount = 0;\nlet failedCount = 0;\n\nconst statusMap = {\n  \"offer accepted\": \"Ready for Onboarding\",\n  \"offer extended\": \"Pending Offer Response\",\n  \"rejected\": \"Disqualified\",\n  \"withdrawn\": \"Withdrawn\",\n  \"application received\": \"Under Review\",\n  \"phone screening\": \"Phone Screen\",\n  \"interview scheduled\": \"Interview Scheduled\",\n  \"interview completed\": \"Interview Completed\",\n  \"reference check\": \"Reference Check\",\n  \"background check\": \"Background Check\",\n  \"final review\": \"Final Review\",\n  \"hired\": \"Hired\",\n  \"on hold\": \"On Hold\"\n};\n\nconst pendingKeywords = [\"pending\", \"onboarding\", \"scheduled\", \"in progress\"];\n\nfor (const item of items) {\n  const data = item.json;\n  const id = data[\"Candidate ID\"];\n  const name = data[\"Name\"];\n  const atsStatusRaw = data[\"ATS Status\"] || \"\";\n  const atsStatus = atsStatusRaw.toLowerCase().trim();\n\n  if (processedIds.has(id)) {\n    data.action = \"skip\";\n    data.reason = \"Duplicate\";\n    data.processedAt = new Date().toISOString();\n    skippedCount++;\n    results.push({ json: data });\n    continue;\n  }\n\n  if (!id || !name || name === \"—\") {\n    data.action = \"error\";\n    data.reason = \"Missing Candidate ID or Name\";\n    data.processedAt = new Date().toISOString();\n    failedCount++;\n    results.push({ json: data });\n    continue;\n  }\n\n  processedIds.add(id);\n\n  const hrmsStatus = statusMap[atsStatus] || \"Unknown\";\n  data.hrmsStatus = hrmsStatus;\n  data.originalStatus = atsStatusRaw;\n  data.processedAt = new Date().toISOString();\n\n  if (hrmsStatus === \"Unknown\") {\n    data.action = \"review\";\n    data.reason = `Unmapped ATS status: ${atsStatusRaw}`;\n    failedCount++;\n  } else {\n    data.action = \"sync\";\n\n    if (pendingKeywords.some(word => hrmsStatus.toLowerCase().includes(word))) {\n      pendingCount++;\n    } else {\n      successCount++;\n    }\n\n    syncStatus.push({\n      profileId: id,\n      message: data.Notes || \"\",\n      status: hrmsStatus,\n      type: \"sync\"\n    });\n  }\n\n  results.push({ json: data });\n}\n\n// Add stats summary as first item\nresults.unshift({\n  json: {\n    stats: {\n      syncedProfiles: successCount,\n      pendingSync: pendingCount,\n      failedSync: failedCount,\n      skippedRecords: skippedCount\n    },\n    syncStatus: syncStatus\n  }\n});\n\nreturn results;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1020
      ],
      "id": "10b7ca96-2a23-4b74-91bf-c83ad04b0b8a",
      "name": "Enhanced Status Mapping"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "sync-condition",
              "leftValue": "={{ $json.action }}",
              "rightValue": "sync",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        1020
      ],
      "id": "0f8fbe1f-66d6-4a86-aed7-43d81b5aa9e3",
      "name": "Filter for Sync"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z-2_cNgvwPdovEu3MxoehBfPSgM21icKEToC77LX8Qc",
          "mode": "list",
          "cachedResultName": "ATS to HRMS candidate status in sync",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z-2_cNgvwPdovEu3MxoehBfPSgM21icKEToC77LX8Qc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1898537120,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z-2_cNgvwPdovEu3MxoehBfPSgM21icKEToC77LX8Qc/edit#gid=1898537120"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate ID",
              "displayName": "Candidate ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Status",
              "displayName": "ATS Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hrmsStatus",
              "displayName": "hrmsStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "originalStatus",
              "displayName": "originalStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats",
              "displayName": "stats",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "syncStatus",
              "displayName": "syncStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        1180
      ],
      "id": "a9ff3d8a-a316-4375-8b39-ae370cda9fa1",
      "name": "Log Skipped Records",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lJdg5HTRN7AAQ0RY",
          "name": "Google Sheets account 13"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet totalProcessed = 0;\nlet synced = 0;\nlet review = 0;\nlet error = 0;\nlet skipped = 0;\n\nfor (const item of items) {\n  totalProcessed++;\n\n  const action = item.json.action;\n\n  if (action === \"sync\") synced++;\n  else if (action === \"review\") review++;\n  else if (action === \"error\") error++;\n  else if (action === \"skip\") skipped++;\n}\n\nreturn [\n  {\n    json: {\n      success: true,\n      message: \"ATS to HRMS sync completed\",\n      timestamp: new Date().toISOString(),\n      data: {\n        totalProcessed,\n        synced,\n        review,\n        error,\n        skipped\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        980
      ],
      "id": "ccf5de19-5640-41c9-91d3-2c66b60522b9",
      "name": "Prepare Response"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -620,
        880
      ],
      "id": "9a8582a5-1545-42fd-b52d-b1dec8242b27",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2260,
        980
      ],
      "id": "6778fc7c-ef8a-4aff-99f3-430e332a4aff",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1z-2_cNgvwPdovEu3MxoehBfPSgM21icKEToC77LX8Qc",
          "mode": "list",
          "cachedResultName": "ATS to HRMS candidate status in sync",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z-2_cNgvwPdovEu3MxoehBfPSgM21icKEToC77LX8Qc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1329501232,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z-2_cNgvwPdovEu3MxoehBfPSgM21icKEToC77LX8Qc/edit#gid=1329501232"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate ID": "={{ $json['Candidate ID'] }}",
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "ATS Status": "={{ $json['ATS Status'] }}",
            "Notes": "={{ $json.Notes }}",
            "Last Updated": "={{ $json['Last Updated'] }}",
            "hrmsStatus": "={{ $json.hrmsStatus }}",
            "originalStatus": "={{ $json.originalStatus }}",
            "processedAt": "={{ $json.processedAt }}",
            "action": "={{ $json.action }}"
          },
          "matchingColumns": [
            "Candidate ID"
          ],
          "schema": [
            {
              "id": "Candidate ID",
              "displayName": "Candidate ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Status",
              "displayName": "ATS Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hrmsStatus",
              "displayName": "hrmsStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "originalStatus",
              "displayName": "originalStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        820
      ],
      "id": "0dd16811-8027-4332-9341-0f36424d27df",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lJdg5HTRN7AAQ0RY",
          "name": "Google Sheets account 13"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        100,
        1020
      ],
      "id": "e130fdcb-4215-4a3e-ba92-8c7a22891769",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1580,
        980
      ],
      "id": "0dfb19d1-74e7-48d6-82f1-6e824f168fba",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "ATS Webhook": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Status Mapping": {
      "main": [
        [
          {
            "node": "Filter for Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Sync": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped Records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Enhanced Status Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa3506cf-9d4c-4652-9516-b1944ca73f93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4da3e4feddd42df58fa861bd27ff786155b680eb2d7948e126da15f5d08ab036"
  },
  "id": "zFdsfNwijRiqrVIr",
  "tags": []
}