src/workflows/Contract_Red_Flag_Detector_Agent.json
{
  "name": "Contract_Red_Flag_Detector_Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contract",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        200
      ],
      "id": "e063e5b9-96d0-4b19-b848-6941796d00e8",
      "name": "Webhook",
      "webhookId": "2794b408-e5cb-4395-841f-7c1cd6a46e27"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfccdd3f-3240-4425-885a-1c61a9c1e7b3",
              "leftValue": "={{ $json.body['document type'] }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        200
      ],
      "id": "ad2dafb4-5031-4f59-9461-5338a9299bbd",
      "name": "If"
    },
    {
      "parameters": {
        "functionCode": "const rawText = $json.text || $json.data || '';\nconst cleaned = rawText\n  .replace(/\\n{2,}/g, '\\n')\n  .replace(/ {2,}/g, ' ')\n  .replace(/\\t+/g, ' ')\n  .trim();\n\nreturn [{ json: { text: cleaned } }];"
      },
      "id": "4c481597-f303-440a-ba9f-8f0ccbffc041",
      "name": "Clean Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1060,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd11dff8-3e16-4dbc-aff6-645fde37a439",
              "name": "Flagged  clauses",
              "value": "={{ $json.output.flaggedClauses }}",
              "type": "string"
            },
            {
              "id": "cf189a0b-3ec3-4e94-9e68-7bb380d17f32",
              "name": "Overallrisk score",
              "value": "={{ $json.output.overallRiskAssessment.riskScore }}",
              "type": "string"
            },
            {
              "id": "35468928-a75f-4d28-af9b-c69b639bc7d0",
              "name": "Missing section",
              "value": "={{ $json.output.missingSections }}",
              "type": "string"
            },
            {
              "id": "30625618-b776-4ab1-a552-964a355744f8",
              "name": "Suggestion to fix",
              "value": "={{ $json.output.recommendations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2020,
        200
      ],
      "id": "443f4915-ec5b-49c3-ad51-e0c393d14aa6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "html": "<html>\n  <body style=\"font-family: Arial, sans-serif; padding: 20px;\">\n    <h2>Contract Risk Assessment Report</h2>\n\n    <h3>🔒 Overall Risk Score:</h3>\n    <ul>\n{{ $json['Overallrisk score'] }}\n    </ul>\n\n    <h3>🚩 Flagged Clauses</h3>\n<ul>\n{{ $json['Flagged  clauses'] }}\n     </ul>\n\n    <h3>📌 Suggestion to fix </h3>\n    <ul>\n    \n    {{ $json['Suggestion to fix'] }}\n    </ul>\n\n    <h3>📄 Missing Sections</h3>\n    <ul>\n {{ $json['Missing section'] }}    \n    </ul>\n  </body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2240,
        200
      ],
      "id": "36159802-e380-4361-9a20-6b14730b7945",
      "name": "HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfcrowd.com/convert/24.04",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic ZGVtbzpjZTU0NGI2ZWE1MmE1NjIxZmI5ZDU1ZjhiNTQyZDE0ZA=="
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_viewport_width",
              "value": "balanced"
            },
            {
              "name": "text",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "HelloWorld.pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        200
      ],
      "id": "5f5d9bf8-ed0b-415e-827e-8d3756b41791",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "contract",
        "message": "check this",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "HelloWorld.pdf"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2680,
        200
      ],
      "id": "c29eb7d9-bf4a-4405-8559-4ac195a4283d",
      "name": "Gmail",
      "webhookId": "52234452-2b59-4a49-b0ff-c0bc87d227b5",
      "credentials": {
        "gmailOAuth2": {
          "id": "Yzw60DakUdeHKqfQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "contract review",
        "message": "“Contract couldn't be processed — possible unreadable scan.Retry with alternate parser if available",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1260,
        -40
      ],
      "id": "10ac38c6-3171-4de8-a980-dc5b518ec2f1",
      "name": "Gmail1",
      "webhookId": "99185f75-c11d-4502-a5ad-52e07cc8a01f",
      "credentials": {
        "gmailOAuth2": {
          "id": "Yzw60DakUdeHKqfQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc4a6f95-24e3-4b68-81c0-af2f6a2a68cd",
              "leftValue": "={{ $json.text }}",
              "rightValue": "  ",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        180
      ],
      "id": "0af40bed-24e8-429d-9c02-f4d89712bec3",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        260
      ],
      "id": "1423d206-8dd8-469f-8cb9-0d70d215669c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        3080,
        200
      ],
      "id": "ab8fe12f-4e7f-4d75-a01c-415e43e61445",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contract_reviews_dep",
          "mode": "list",
          "cachedResultName": "contract_reviews_dep"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_email": "={{ $('Webhook').item.json.body.email }}",
            "document_name": "={{ $('Webhook').item.json.body['document name'] }}",
            "upload_time": "={{ $now }}",
            "red_flag_count": "={{ $('AI Agent1').item.json.output.totalRedFlags }}",
            "risk_score": "={{ $('AI Agent1').item.json.output.overallRiskAssessment.riskScore }}",
            "status": "={{ $json.labelIds[0] }}"
          },
          "matchingColumns": [
            "user_email"
          ],
          "schema": [
            {
              "id": "upload_time",
              "displayName": "upload_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "user_email",
              "displayName": "user_email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "document_name",
              "displayName": "document_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "red_flag_count",
              "displayName": "red_flag_count",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "risk_score",
              "displayName": "risk_score",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2860,
        200
      ],
      "id": "6a8274de-1692-4b5a-9858-86be253c861a",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "ombHCedKDy5YY5fq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        280,
        -100
      ],
      "id": "f8590c6a-7c55-44cb-8413-4830907266a8",
      "name": "Extract binary data to pdf"
    },
    {
      "parameters": {
        "operation": "Upload File to PDF.co",
        "binaryData": true,
        "binaryPropertyName": "data0",
        "name": "Contract"
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        0,
        260
      ],
      "id": "d905b3bb-f75d-4727-b832-2a9e3ae18374",
      "name": "Upload a file intlo pdf.co",
      "credentials": {
        "pdfcoApi": {
          "id": "89Y435REJteNHS59",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Convert to PDF",
        "url": "={{ $json.url }}",
        "advancedOptionsCommon": {}
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        200,
        260
      ],
      "id": "9479f9f1-6c29-4d10-89f5-1140b942a84d",
      "name": "convert to pdf",
      "credentials": {
        "pdfcoApi": {
          "id": "89Y435REJteNHS59",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        600,
        260
      ],
      "id": "04fbe150-61e3-4d75-922a-ed704f1daf33",
      "name": "Extract binary data into pdf 1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a legal contract analysis AI. Your task is to review the input contract text and perform two tasks:\n1. **Detect and extract the following key clauses**:\n   - Termination\n   - Indemnity\n   - Liability\n   - Confidentiality\n   - Governing Law\n   - Force Majeure\n\n2. **For each clause**, return:\n   - `clause_name`: The type of clause (e.g., Termination)\n   - `text`: The full text of the detected clause\n   - `risks`: A list of any risky or problematic language found (e.g., \"unilateral termination\", \"unlimited liability\", \"ambiguous scope\")\n   - `risk_level`: One of [\"Low\", \"Moderate\", \"High\"], based on how concerning the language is\n\n3. **If a clause is missing**, note it under `missing_clauses`.\n\n4. **If the clause is vague**, note that under `risks`.\n\nRespond ONLY in this structured JSON format:\n\n\n{\n  \"clauses\": {\n    \"Termination\": {\n      \"text\": \"...\",\n      \"risks\": [\"...\"],\n      \"risk_level\": \"Moderate\"\n    },\n    \"Indemnity\": {\n      \"text\": \"...\",\n      \"risks\": [],\n      \"risk_level\": \"Low\"\n    },\n    ...\n  },\n  \"missing_clauses\": [\"Governing Law\", \"Force Majeure\"]\n}{{ $json.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1300,
        180
      ],
      "id": "8b053028-2454-4f8d-b324-78a773debbbe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"clauses\": {\n    \"Termination\": {\n      \"text\": \"[Extracted clause or 'Not found']\",\n      \"risk\": \"[Yes/No]\",\n      \"comments\": \"[If risk is Yes, explain why]\"\n    },\n    \"Indemnity\": {\n      \"text\": \"...\",\n      \"risk\": \"...\",\n      \"comments\": \"...\"\n    }\n  },\n  \"missing_clauses\": [\"Governing Law\", \"Force Majeure\"],\n  \"vague_phrases\": [\n    {\n      \"text\": \"[Quoted text]\",\n      \"issue\": \"[Why it's vague or ambiguous]\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1440,
        440
      ],
      "id": "bc14ec66-7d33-45fa-a32c-e6b90ecbe9e5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a legal analyst AI.\n\nAnalyze the following contract analysis and generate a Red Flag Summary:\n{{ $json.output.clauses.Termination.text }}\n\nTasks:\n\n1. **Count how many red flags are present** in the analysis and report that number at the top.\n2. Create a table of all flagged clauses with two columns: \"Clause\" and \"Risk Explanation\".\n3. List any missing or incomplete key sections as bullet points.\n4. Assign an overall risk score (High, Medium, or Low) and explain your reasoning based on the number and severity of red flags.\n5. Suggest 2–4 recommended actions to mitigate the identified risks.\n\nFormat your output clearly using tables and bullet points. Start the summary with:  \n**Total Red Flags Identified: X**\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1620,
        180
      ],
      "id": "b44cd62c-2034-487e-aede-478637a7cbcc",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"totalRedFlags\": 0,\n  \"flaggedClauses\": [\n    {\n      \"clause\": \"\",\n      \"riskExplanation\": \"\"\n    }\n  \n  ],\n  \"missingSections\": [\n   \n  ],\n  \"overallRiskAssessment\": {\n    \"riskScore\": \"\", \n    \"justification\": \"\"\n  },\n  \"recommendations\": [\n   \n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1780,
        420
      ],
      "id": "25316878-5fd4-4ec4-aa32-a022f7042bf9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1620,
        420
      ],
      "id": "ffbf78fa-39c6-450d-a659-be8fe180dbea",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1E3ZL2vIpcClZdxZ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1300,
        440
      ],
      "id": "7c4e7bb0-5aeb-44ba-b79d-1d9c0b97c5f5",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "JjMmhLRCLv1lEaa6",
          "name": "OpenRouter New"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract binary data to pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload a file intlo pdf.co",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract binary data into pdf 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract binary data to pdf": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file intlo pdf.co": {
      "main": [
        [
          {
            "node": "convert to pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert to pdf": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract binary data into pdf 1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0bea4c7c-6a05-438c-b7bc-d3da696b85cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b49f74740e4a155f21338af76c2aa80263c734ce9c55ab82f1aa145d7b4ee228"
  },
  "id": "XJhkkPQqt6XGv6kV",
  "tags": []
}