src/workflows/Customer_support_Agent.json
{
  "name": "Customer_support_Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=you should ask the customer about these first\nOrder tracking\nReturn/refund request\nPayment issue\nShipping delay\nProduct inquiry\nCancel/change order\nEscalation to human\nthe customer must include their name and order ID\ninput is: {{ $json.body.chat }}\n\nif input \"👍\" then just respond as \"thank you\" don't send any other content \nyou can include emojis in response \nrespond imediately based on the input using  postgres and  postgres1\n\nif you didn't find the name or order ID from postgres send response as \"we didn't find your in my list\"\nif you didn't resolve the query after 2 tries then send a response as “I’m connecting you with a human agent. You’ll hear back shortly.”\n\nFinal outcome (Resolved / Escalated / Dropped)\nCollect optional user feedback (“Was this helpful? 👍👎”)\n\nFallback message: “Sorry, I’m having trouble responding right now. Please try again shortly.”\n\nAfter response is sent, send message like:\n\n“Was this helpful? 👍 or 👎”\nif input \"👍\" then respond as thank you\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant using google sheet e respond accordingly wish them with their names"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1460,
        20
      ],
      "id": "3f2c75dd-83f9-4485-8e37-d5dffc090d84",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "="
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1400,
        260
      ],
      "id": "c75d70af-d078-452d-98dc-1499417c3898",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1560,
        320
      ],
      "id": "b5a11b6a-ae48-4209-ba40-32feb367b040",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "KwBIsMIVn4DfpHPT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1awPqukOli06Km4HoI2NTJ2epO_g51Fk5TmVysH58pTc",
          "mode": "list",
          "cachedResultName": "Customer_Details(Telegram_Bot)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awPqukOli06Km4HoI2NTJ2epO_g51Fk5TmVysH58pTc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awPqukOli06Km4HoI2NTJ2epO_g51Fk5TmVysH58pTc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1340,
        580
      ],
      "id": "ba323d5e-7076-4357-8004-f88649f8ac14",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q5jLzgTAwCAvEGRu",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1y8IibSU_8KgRE25n3HjTfkgfbw5Z8gHo-0xdJGo8ASY",
          "mode": "list",
          "cachedResultName": "FAQ(Telegram_Bot)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y8IibSU_8KgRE25n3HjTfkgfbw5Z8gHo-0xdJGo8ASY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y8IibSU_8KgRE25n3HjTfkgfbw5Z8gHo-0xdJGo8ASY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1200,
        500
      ],
      "id": "8f84992f-0cf5-4c48-9be0-a14dd87f4b84",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q5jLzgTAwCAvEGRu",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Customer support",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1820,
        40
      ],
      "id": "014a0175-283e-4e1a-bfd9-385652b7c4c0",
      "name": "Webhook",
      "webhookId": "1c5cab55-e508-40c4-b90b-c46bb5bbfcfe"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -1100,
        20
      ],
      "id": "e6863cbe-ad57-468f-be90-a41c73fe5505",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24658e71-d7f8-4f33-a7a5-ee49cbb1f08c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4da3e4feddd42df58fa861bd27ff786155b680eb2d7948e126da15f5d08ab036"
  },
  "id": "zGTAFLGICAx4wSQg",
  "tags": []
}