src/workflows/Gmail_Categorization.json
{
  "name": "Gmail_Categorization",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "4099ee85-29d9-449a-940f-cc1e6c200de9",
      "name": "Webhook",
      "webhookId": "89d8fee9-541b-46dd-a96d-0aa51a1e7f1d"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -60,
        260
      ],
      "id": "4a00aeac-a0e6-436a-afbb-478a0b96aaec",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "he0PtimxTRwIgMyA",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intelligent email categorization assistant. Based on the structured information from a Google Sheet, classify the email into one of those category.\n\nsubject:{{ $json.subject }}\nemail text:{{ $json.text }}\nfrom :{{ $json.from.value[0].address }}\ncategory: select category from google sheet (\"Gmail_Category\")\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        160,
        260
      ],
      "id": "c75fe8f0-6c1c-491d-aeaf-0a8ccc4c566f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        440
      ],
      "id": "506345f5-36e8-4046-abc9-b70a1502ec00",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "KwBIsMIVn4DfpHPT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger1').item.json.id }}",
        "labelIds": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1140,
        260
      ],
      "id": "6e6ed155-af28-40b0-b2d5-927ec217678d",
      "name": "Gmail6",
      "webhookId": "71a1987e-db2d-4575-852b-0b5c284c4e74",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "he0PtimxTRwIgMyA",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GLMzimE-J1hIhwdNXTEiYIAQMsf21x_dg-f3JW5N0Lk",
          "mode": "list",
          "cachedResultName": "Gmail_Category",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GLMzimE-J1hIhwdNXTEiYIAQMsf21x_dg-f3JW5N0Lk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GLMzimE-J1hIhwdNXTEiYIAQMsf21x_dg-f3JW5N0Lk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        260,
        540
      ],
      "id": "b2fdc985-41af-48de-a3ab-42a7b9dc317f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q5jLzgTAwCAvEGRu",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"\",\n\t\"mail text\":\"\",\n  \"from\":\"\",\n  \"category\":\"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        400,
        480
      ],
      "id": "83d7b469-8249-4fbe-bfa3-67166a14327c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GLMzimE-J1hIhwdNXTEiYIAQMsf21x_dg-f3JW5N0Lk",
          "mode": "list",
          "cachedResultName": "Gmail_Category",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GLMzimE-J1hIhwdNXTEiYIAQMsf21x_dg-f3JW5N0Lk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GLMzimE-J1hIhwdNXTEiYIAQMsf21x_dg-f3JW5N0Lk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Category": "={{ $json.body.category }}",
            "Discription": "={{ $json.body.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Discription",
              "displayName": "Discription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "43f454ce-5d97-4f00-8d3b-b525e8688439",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q5jLzgTAwCAvEGRu",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Your label {{ $json.Category }} added \nCreate label in your Gmail account ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "a46ce33d-170a-49b3-860b-ab610d85790e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "label"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        520,
        280
      ],
      "id": "62e49070-520e-44d5-a576-241c1c031b85",
      "name": "Gmail",
      "webhookId": "71a1987e-db2d-4575-852b-0b5c284c4e74",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "he0PtimxTRwIgMyA",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1c0a456-9d67-4597-bafe-ff53f9bb720c",
              "leftValue": "={{ $('AI Agent').item.json.output.category }}",
              "rightValue": "={{ $json.name }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        280
      ],
      "id": "a806a38a-53bd-4b5c-9a8f-d2e57d941863",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "09ac1398-2425-4e22-94cb-6dbc055a4862",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4da3e4feddd42df58fa861bd27ff786155b680eb2d7948e126da15f5d08ab036"
  },
  "id": "5WdjFDTlsbds2T3p",
  "tags": []
}