src/workflows/Inventory_management.json
{
  "name": "Inventory management agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inventory-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9e7d5241-7f1d-4d48-9eac-e253cc5af079",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -440,
        720
      ],
      "webhookId": "37a9c009-699d-464d-a59f-d6e14993215f"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.CurrentStock }}",
              "value2": "={{ $json.Threshold }}"
            }
          ]
        }
      },
      "id": "48859baa-d8e6-4e82-bcbe-653b8236eb53",
      "name": "Low Stock Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1680,
        580
      ]
    },
    {
      "parameters": {
        "content": "## return order update\n\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)                ",
        "height": 320,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "33bf74e2-0c0e-454a-8aae-9ef9837529cd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Auto restock trigger every day once\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 260,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        80
      ],
      "id": "66bff35d-4c0f-471a-b5fe-1eb7eb14c7bd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## auto check for the overstock in a week and send alert to the manager\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 280,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        40
      ],
      "id": "559d98f8-9892-4e29-896b-f55a847a3445",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        3960,
        200
      ],
      "id": "abba1de0-ea3d-4cdc-a9b2-6bda7724235a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0",
          "mode": "list",
          "cachedResultName": "Inventory management data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 606847537,
          "mode": "list",
          "cachedResultName": "order placed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit#gid=606847537"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CurrentStock",
              "displayName": "CurrentStock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Threshold",
              "displayName": "Threshold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reorder Quantity",
              "displayName": "Reorder Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Warehouse",
              "displayName": "Warehouse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier Contact",
              "displayName": "Supplier Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "restockUnits",
              "displayName": "restockUnits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3480,
        380
      ],
      "id": "f1671367-bd03-4ff0-8347-2f51613a7fe5",
      "name": "stock order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tHBE4YnuDGUtxzGi",
          "name": "Google Sheets account 14"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "a94f0571-0db3-4c03-9583-b754d8701f5a",
      "name": "Wait 10 Min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2420,
        860
      ],
      "webhookId": "36fdb209-2651-4283-8a46-23f4b89ea832"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.message }}",
              "value2": 3
            }
          ]
        }
      },
      "id": "c397e50e-1e5b-4440-9015-dc7814e8633a",
      "name": "IF Retry < 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        860
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { retryCount: $json.retryCount + 1 } }];"
      },
      "id": "c55237c4-7f66-4ff5-9c65-cf9b115e66ca",
      "name": "Increment Retry",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2820,
        900
      ]
    },
    {
      "parameters": {},
      "id": "d42c9299-61e1-4e92-8bad-55da5527f4dc",
      "name": "Exit",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2820,
        1140
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        140
      ],
      "id": "d22f190f-1c8f-49db-8ecd-1c767963018e",
      "name": "Trigger once in a week"
    },
    {
      "parameters": {
        "sendTo": "akhilqaid@gmail.com",
        "subject": "over stock alert",
        "emailType": "text",
        "message": "=hello inventory manager,\nThe product {{ $json['Product Name'] }} with the sku {{ $json.SKU }} is more then the record quantity, current stock is {{ $json.CurrentStock }} but the record quantity is {{ $json['Reorder Quantity'] }} so take the nessery action to manage it.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -180,
        100
      ],
      "id": "c8bc2096-117b-48f9-95cc-f4cb9308d3e1",
      "name": "send mail to manager",
      "webhookId": "c698976f-1b91-49d1-8d60-69c772b49322",
      "credentials": {
        "gmailOAuth2": {
          "id": "x1rSHsKo8WLWbNLO",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 6
            }
          ]
        }
      },
      "id": "4825e146-55d8-47f3-83bc-e036216bb5c0",
      "name": "Trigger every 6 hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        280,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93645942-e11b-4352-8804-5e9e70fe2634",
              "name": "Return SKU ",
              "value": "={{ $json.query.SKU }}",
              "type": "string"
            },
            {
              "id": "8a62329d-f896-4f8a-b386-5e555b40d82b",
              "name": "Returnstock",
              "value": "={{ $json.query.returnstock }}",
              "type": "string"
            },
            {
              "id": "71a5ea66-dad1-4776-95d4-4f931ec235d2",
              "name": "Return Product Name",
              "value": "={{ $json.query['Product Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        140
      ],
      "id": "2d1a6202-7b2a-41ea-83cb-5e1bdef62287",
      "name": "extract webhook body"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        960,
        180
      ],
      "id": "daab6bcc-0a34-48f9-bac8-e556398072e6",
      "name": "Trigger every 2 hours"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst timestamp = $(\"Trigger every 2 hours\").all()[0]?.json?.timestamp;\n\nconst updatedItems = items.map((item) => {\n  const currentStock = parseInt(item?.json?.CurrentStock);\n  const reorderQty = parseInt(item?.json?.[\"Reorder Quantity\"]);\n\n  const restockUnits = reorderQty - currentStock;\n\n  item.json.restockUnits = restockUnits;\n  item.json.timestamp = timestamp;\n\n  return item;\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        280
      ],
      "id": "bc9f2e56-c6a7-40e8-96ea-2eba6dbfee2d",
      "name": "calculate Restock units"
    },
    {
      "parameters": {
        "jsCode": "const productData = $(\"Low Stock Check\")\n  .all()\n  .map((item) => item.json);\nreturn productData;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        520
      ],
      "id": "3b5e39c2-64f7-40b6-8bf2-19aea2e1bba6",
      "name": "extract the data from slack"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  const reorderQty = parseInt(item.json[\"Reorder Quantity\"]);\n  const currentStock = parseInt(item.json.CurrentStock);\n\n  item.json.restockUnits = reorderQty - currentStock;\n  item.json.timestamp = new Date().toISOString(); // ISO format is safer\n\n  return item;\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        520
      ],
      "id": "69561587-a1d0-4a84-8636-82eeaed8d53d",
      "name": "calculate the Restock units"
    },
    {
      "parameters": {
        "sendTo": "=akhilqaid@gmail.com",
        "subject": "restock units",
        "message": "=Dear {{ $json['Supplier Name'] }} ,\n\nI hope this message finds you well.\n\nWe are reaching out to request a restock of the following product due to low inventory levels at our warehouse:\n\nProduct Name:{{ $json['Product Name'] }}\n\nSKU:{{ $json.SKU }}\n\nrestockunits:{{ $json.restockUnits }}\nWarehouse Location:{{ $json.Warehouse }}\n\nKindly confirm the availability and expected delivery date for the requested units at your earliest convenience. Please include any relevant shipping or invoice details required to process this request smoothly.\n\nLooking forward to your response.\n\nBest regards,",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3540,
        520
      ],
      "id": "4bf781b2-85e5-4a2a-beab-b623699e079c",
      "name": "send mails to the suppliers",
      "webhookId": "0e30b88a-eb3f-4be6-9513-6de96a06e1b8",
      "credentials": {
        "gmailOAuth2": {
          "id": "x1rSHsKo8WLWbNLO",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const products = $input.all().map((item) => item.json);\nconst effectedProducts = products.filter(\n  (product) => product.CurrentStock <= product.Threshold,\n);\n\nreturn { effectedProducts };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        200
      ],
      "id": "f8b445b6-3fed-4975-affa-138e377c4f97",
      "name": "check the effected product"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((item) => item.json);\nconst effectedProducts = items[0].effectedProducts;\n\nconst lowStockProducts = effectedProducts.map((product) => {\n  const reorderQty = parseInt(product[\"Reorder Quantity\"]);\n  const currentStock = parseInt(product.CurrentStock);\n  const restockUnits = reorderQty - currentStock;\n\n  return {\n    Product: product[\"Product Name\"],\n    SKU: product.SKU,\n    \"Current Stock\": currentStock,\n    Threshold: product.Threshold,\n    \"Reorder Quantity\": reorderQty,\n    restockUnits: restockUnits,\n    Action:\n      currentStock < product.Threshold\n        ? \"Recommend restocking \" + restockUnits + \" units\"\n        : \"Auto-PO created & sent to supplier\",\n  };\n});\n\nreturn { lowStockProducts };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        200
      ],
      "id": "6c16e921-dcdc-47b6-8714-230d9c289cba",
      "name": "extract the data of effected products"
    },
    {
      "parameters": {
        "jsCode": "const triggerType = 'manual'; // Change to 'scheduled' or 'event' as needed\n\nconst error = null; // Set to an error message if needed\n\nfor (const item of $input.all()) {\n  item.json.timestamp = new Date().toISOString();\n  item.json.triggerType = triggerType;\n $input.first().json.lowStockProducts\n  item.json.error = error;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3220,
        200
      ],
      "id": "2218a059-ccf4-41c4-8959-f90cb8656787",
      "name": "Add timestamp &error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f7419fd-159c-4811-b4b6-f16ad87d86d2",
              "name": "productseffected",
              "value": "=ProductName:{{ $json.Product }},SKU:{{ $json.SKU }},CurrentStock:{{ $json['Current Stock'] }},Threshold:{{ $json.Threshold }},Action:{{ $json.Action }}.",
              "type": "string"
            },
            {
              "id": "d8b0bb14-3ac4-43bb-aa77-63ff91d376a7",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "f81ffd59-2a5c-441f-a2e9-69c3ecdf30bd",
              "name": "triggerType",
              "value": "={{ $json.triggerType }}",
              "type": "string"
            },
            {
              "id": "559ba6d6-0d0b-4678-853f-a97d06062805",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3580,
        200
      ],
      "id": "465fc001-39da-49b2-96a7-1ccf0ecaedfb",
      "name": "extract the log details"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0",
          "mode": "list",
          "cachedResultName": "Inventory management data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 332342716,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit#gid=332342716"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3780,
        200
      ],
      "id": "5363cc17-948b-4e3e-9206-70f7be0b8142",
      "name": "log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tHBE4YnuDGUtxzGi",
          "name": "Google Sheets account 14"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "akhilqaid@gmail.com",
        "subject": "error",
        "message": "=hello \nmanager theirn is an error in the inventory {{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2680,
        700
      ],
      "id": "04f6986c-fe3d-40be-8943-e0a98c736a75",
      "name": "error message to manager",
      "webhookId": "56716585-91d0-446e-8640-5cd4255dc20d",
      "credentials": {
        "gmailOAuth2": {
          "id": "x1rSHsKo8WLWbNLO",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  item.json.isFromFetchInventory = item.json[\"Product Name\"] ? true : false;\n  return item;\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        800
      ],
      "id": "f840c420-92f8-45ce-8f6c-c095c699feca",
      "name": "fetch inventory products and set their status as true or false"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15707447-4eae-460f-8b93-eccf7554e067",
              "leftValue": "={{ $json.isFromFetchInventory }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1820,
        800
      ],
      "id": "2fe55a45-a669-4366-8b04-82a5a30193d6",
      "name": "check the product status"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst errors = items.map((item) => {\n  const timestamp = new Date().toISOString();\n  const error = item?.json?.isFromFetchInventory\n    ? \"Error from Fetch Inventory\"\n    : \"Unknown error\";\n  return { json: { error, timestamp } };\n});\nreturn errors;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        860
      ],
      "id": "135bd826-3b0f-454a-8973-428f20bd8c5d",
      "name": "fetch the error"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst errorMessage = items.map((item) => {\n  return {\n    message: `Error: ${item?.json?.error}, Timestamp: ${item?.json?.timestamp}`,\n  };\n});\nreturn errorMessage;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        860
      ],
      "id": "1960b066-cecc-4338-aa95-6742cb25c52c",
      "name": "generate the error message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a275e2e0-4d17-432b-9922-c2a1c7d8c4e0",
              "leftValue": "={{ $json.query.returnstock }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -140,
        640
      ],
      "id": "d3498a62-ec7c-448d-9cf7-97a7abf44601",
      "name": "if webhook query is not empty"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((item) => item.json);\nconst result = items\n  .map((item) => {\n    const lowStockProducts = item.lowStockProducts.map((product) => ({\n      ...product,\n      triggerType: item.triggerType,\n      timestamp: item.timestamp,\n      error: item.error,\n    }));\n    return lowStockProducts;\n  })\n  .flat();\n\nconst output = [];\nfor (const product of result) {\n  output.push({ json: product });\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        200
      ],
      "id": "62d438a1-9344-43e7-a680-b15265c6bd62",
      "name": "converting the effected products as list"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0",
          "mode": "list",
          "cachedResultName": "Inventory management data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SKU": "={{ $json.SKU }}",
            "CurrentStock": "={{ $json.CurrentStock }}"
          },
          "matchingColumns": [
            "SKU"
          ],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CurrentStock",
              "displayName": "CurrentStock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Threshold",
              "displayName": "Threshold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reorder Quantity",
              "displayName": "Reorder Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Warehouse",
              "displayName": "Warehouse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Supplier Contact",
              "displayName": "Supplier Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        700,
        120
      ],
      "id": "f846716c-ccf9-4211-92bf-63eb87e19b5f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tHBE4YnuDGUtxzGi",
          "name": "Google Sheets account 14"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0",
          "mode": "list",
          "cachedResultName": "Inventory management data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1160,
        580
      ],
      "id": "77c53beb-cbec-43b4-b784-8bb4538935a9",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tHBE4YnuDGUtxzGi",
          "name": "Google Sheets account 14"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0",
          "mode": "list",
          "cachedResultName": "Inventory management data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -540,
        140
      ],
      "id": "0621b91e-17ea-4fc0-8ae9-22203b2f4392",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tHBE4YnuDGUtxzGi",
          "name": "Google Sheets account 14"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0",
          "mode": "list",
          "cachedResultName": "Inventory management data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1100,
        180
      ],
      "id": "a519ef1d-b25d-4fa3-a1ff-ef50b8c0d152",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tHBE4YnuDGUtxzGi",
          "name": "Google Sheets account 14"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const currentStock = parseInt($input.first().json.CurrentStock);\n  const reorderQuantity = parseInt($input.first().json['Reorder Quantity']); // Assuming 'Threshold' in your sheet is 'reorderquantity'\n\n  const isOverstock = currentStock > reorderQuantity;\n  const overstockAmount = isOverstock ? (currentStock - reorderQuantity) : 0;\n\n  return {\n    json: {\n      ProductName: item.json.ProductName,\n      SKU: item.json.SKU,\n      CurrentStock: currentStock,\n      ReorderQuantity: reorderQuantity, // Renamed for clarity in output\n      isOverstock: isOverstock,\n      overstockAmount: overstockAmount\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        480
      ],
      "id": "0abd0609-2bc4-4e9e-91dc-b8ccbf0819e7",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f31930c1-9a8a-4965-b9ca-b7ef04a76bfd",
              "leftValue": "={{ $json.CurrentStock }}",
              "rightValue": "={{ $json['Reorder Quantity'] }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -360,
        140
      ],
      "id": "da2438ea-b6fa-4f6b-a7d2-4a30d4fe0160",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e2ec894-5042-43b5-a793-d778a738a728",
              "leftValue": "={{ $json.CurrentStock }}",
              "rightValue": "={{ $json.Threshold }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        180
      ],
      "id": "33372d7a-53bf-471e-8423-935e74cbf9e1",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0",
          "mode": "list",
          "cachedResultName": "Inventory management data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 871180184,
          "mode": "list",
          "cachedResultName": "return orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit#gid=871180184"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        540,
        -180
      ],
      "id": "580695c7-579e-46db-b767-e5742438ecc8",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tHBE4YnuDGUtxzGi",
          "name": "Google Sheets account 14"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0",
          "mode": "list",
          "cachedResultName": "Inventory management data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eUt2QucPZrRgggjahKGDKVTo802cixzeyIz2AnXkJ-0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        120
      ],
      "id": "3642f61c-9783-482e-b6f7-a38e67a283a6",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tHBE4YnuDGUtxzGi",
          "name": "Google Sheets account 14"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\n// Extract the return info object\nconst returnItem = allItems.find(item => item.json[\"Return SKU \"] !== undefined)?.json;\n\nif (!returnItem) {\n  throw new Error(\"No return item found.\");\n}\n\nconst returnSKU = returnItem[\"Return SKU \"].trim();\nconst returnQty = Number(returnItem[\"Returnstock\"]);\n\nconst result = [];\n\nfor (const item of allItems) {\n  const data = item.json;\n\n  // Skip the return entry\n  if (data[\"Return SKU \"] !== undefined) {\n    continue;\n  }\n\n  if (data[\"SKU\"] === returnSKU) {\n    data[\"CurrentStock\"] = Number(data[\"CurrentStock\"]) + returnQty;\n\n    result.push({\n      json: {\n        SKU: data[\"SKU\"],\n        \"Product Name\": data[\"Product Name\"],\n        CurrentStock: data[\"CurrentStock\"]\n      }\n    });\n  }\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        120
      ],
      "id": "bc960677-b09c-4921-8147-a9d0ac05b033",
      "name": "update returnstock"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        380,
        120
      ],
      "id": "d9727d58-2d8c-4f21-8ab4-bca29645ecad",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "if webhook query is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Stock Check": {
      "main": [
        [
          {
            "node": "extract the data from slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "check the effected product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send mail to manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Min": {
      "main": [
        [
          {
            "node": "IF Retry < 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Retry < 3": {
      "main": [
        [
          {
            "node": "Increment Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Retry": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger once in a week": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger every 6 hours": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract webhook body": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trigger every 2 hours": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculate Restock units": {
      "main": [
        [
          {
            "node": "send mails to the suppliers",
            "type": "main",
            "index": 0
          },
          {
            "node": "stock order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract the data from slack": {
      "main": [
        [
          {
            "node": "calculate the Restock units",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculate the Restock units": {
      "main": [
        [
          {
            "node": "send mails to the suppliers",
            "type": "main",
            "index": 0
          },
          {
            "node": "stock order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check the effected product": {
      "main": [
        [
          {
            "node": "extract the data of effected products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract the data of effected products": {
      "main": [
        [
          {
            "node": "Add timestamp &error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add timestamp &error": {
      "main": [
        [
          {
            "node": "converting the effected products as list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract the log details": {
      "main": [
        [
          {
            "node": "log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch inventory products and set their status as true or false": {
      "main": [
        [
          {
            "node": "check the product status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check the product status": {
      "main": [
        [],
        [
          {
            "node": "fetch the error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch the error": {
      "main": [
        [
          {
            "node": "generate the error message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add timestamp &error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate the error message": {
      "main": [
        [
          {
            "node": "Wait 10 Min",
            "type": "main",
            "index": 0
          },
          {
            "node": "error message to manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if webhook query is not empty": {
      "main": [
        [
          {
            "node": "extract webhook body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "converting the effected products as list": {
      "main": [
        [
          {
            "node": "extract the log details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "fetch inventory products and set their status as true or false",
            "type": "main",
            "index": 0
          },
          {
            "node": "Low Stock Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "send mail to manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "calculate Restock units",
            "type": "main",
            "index": 0
          },
          {
            "node": "check the effected product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        []
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update returnstock": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "update returnstock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "560d1ade-41bb-4574-bee1-b19244d2c64b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4da3e4feddd42df58fa861bd27ff786155b680eb2d7948e126da15f5d08ab036"
  },
  "id": "AUxKwnugowViqWgP",
  "tags": []
}