src/workflows/Leave_Approval_remainder (2).json
{
  "name": "Leave Approval remainder",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b71a2b5-5e53-4217-9518-c0702be8caf5",
              "leftValue": "={{ $json['Days Pending'] }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        20
      ],
      "id": "c84c16a2-42b5-4fac-a029-d00a9bc8012d",
      "name": "If>2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c358bdf-b0dc-4614-a9c5-0c7c8fa1917d",
              "leftValue": "={{ $json['Days Pending'] }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        240
      ],
      "id": "e7862eb5-a4e8-4d61-9972-8137f641d4df",
      "name": "If>5"
    },
    {
      "parameters": {
        "sendTo": "gugulothusony07@gmail.com",
        "subject": "Reminder: Pending Leave Approval",
        "message": "=Dear Manager,\n\nThis is a reminder that the following employee’s leave request has been pending approval for more than 2 days:\n\n<ul>\n  <li><b>Candidate Name:</b> </li>\n{{ $json['Candidate Name'] }} <li><b>Leave Date:\n{{ $now }} \nLeave ID: \n{{ $json['Leave ID'] }} </b> </li>  <li><b>Requested Date:\n{{ $json['Reminder Sent Date'] }} </b> </li>\n  <li><b>Leave reason: \n{{ $json['Leave Reason'] }}\n</ul>\n\n\nKindly take the necessary action to approve or follow up on this request.\n\nBest regards,\nTeam\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6eed6e58-272c-490b-b6bd-957105da7f79",
      "name": "Gmail Manager Approve",
      "webhookId": "0fd6bff0-2c49-4490-b208-5dcf8552cd54",
      "credentials": {
        "gmailOAuth2": {
          "id": "iGssiilCMFWTUhxs",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "asmithasony07@gmail.com",
        "subject": "Escalation: Unapproved Leave Request",
        "message": "=Dear Manager,\n\nThis is a reminder that the following employee’s leave request has been pending approval for more than 2 days:\n\n<ul>\n  <li><b>Candidate Name:</b> </li>\n{{ $json['Candidate Name'] }} \n<li><b>Leave Date:\n{{ $now }} \nLeave ID:\n{{ $('Extract from File').item.json['Leave ID'] }} \n</b> </li>  <li><b>Requested\nDate:\n{{ $('Extract from File').item.json['Reminder Sent Date'] }} </b> </li>\n  <li><b>Leave reason:\n{{ $('Extract from File').item.json['Leave Reason'] }}\n</ul>\n\n\nKindly take the necessary action to approve or follow up on this request.\n\nBest regards,\nTeam\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        220
      ],
      "id": "0c883384-dfaa-4ccb-95b2-35bafe5f1304",
      "name": "Gmail HR Escalation",
      "webhookId": "87217902-c76f-48c8-ae1b-66a63cf2cbe6",
      "credentials": {
        "gmailOAuth2": {
          "id": "iGssiilCMFWTUhxs",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c21ff5b7-64e9-465c-aa20-77a5501a67f3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        140
      ],
      "id": "40784b9f-4745-4a4b-ba0e-7dde681fe51a",
      "name": "Webhook",
      "webhookId": "c21ff5b7-64e9-465c-aa20-77a5501a67f3"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -480,
        140
      ],
      "id": "1ec246ae-e5b6-4eea-b1ae-eda421fd16ae",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lbH52TQqwzSaFaCrMyldMmATA0Tce7AETrhKCGnj0XI",
          "mode": "list",
          "cachedResultName": "leave remainder.Q",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lbH52TQqwzSaFaCrMyldMmATA0Tce7AETrhKCGnj0XI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lbH52TQqwzSaFaCrMyldMmATA0Tce7AETrhKCGnj0XI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name": "={{ $('If>2').item.json['Candidate Name'] }}",
            "Leave ID": "={{ $('If>2').item.json['Leave ID'] }}",
            "Leave Start Date": "={{ $('If>2').item.json['Leave Start Date'] }}",
            "Reminder Sent Date": "={{ $('If>2').item.json['Reminder Sent Date'] }}",
            "Leave Reason": "={{ $('If>2').item.json['Leave Reason'] }}",
            "Timstamp": "={{ $now }}",
            "STAUS": "Approve"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave ID",
              "displayName": "Leave ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave Start Date",
              "displayName": "Leave Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timstamp",
              "displayName": "Timstamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reminder Sent Date",
              "displayName": "Reminder Sent Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave Reason",
              "displayName": "Leave Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STAUS",
              "displayName": "STAUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "41cd0ef8-4be9-4107-95e6-22aa8ff48ace",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uxfwdoE0Gk3gTF4b",
          "name": "Google Sheets account 9"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lbH52TQqwzSaFaCrMyldMmATA0Tce7AETrhKCGnj0XI",
          "mode": "list",
          "cachedResultName": "leave remainder.Q",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lbH52TQqwzSaFaCrMyldMmATA0Tce7AETrhKCGnj0XI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CP1mQVOU5e9W1_7NjN629eoDW4SAH8Tld-hYCdHt0l0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name": "={{ $('If>5').item.json['Candidate Name'] }}",
            "Leave ID": "={{ $('Extract from File').item.json['Leave ID'] }}",
            "Leave Start Date": "={{ $('Extract from File').item.json['Leave Start Date'] }}",
            "Reminder Sent Date": "={{ $('Extract from File').item.json['Reminder Sent Date'] }}",
            "Leave Reason": "={{ $('If>5').item.json['Leave Reason'] }}",
            "STAUS": "Escalation",
            "Timstamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave ID",
              "displayName": "Leave ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave Start Date",
              "displayName": "Leave Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timstamp",
              "displayName": "Timstamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reminder Sent Date",
              "displayName": "Reminder Sent Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave Reason",
              "displayName": "Leave Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STAUS",
              "displayName": "STAUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        220
      ],
      "id": "04da804f-f22d-477f-8a63-4d2b7e97602a",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uxfwdoE0Gk3gTF4b",
          "name": "Google Sheets account 9"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        480,
        40
      ],
      "id": "cd9e8f6f-fe60-49c2-b54a-877ad1900fa9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "If>2": {
      "main": [
        [
          {
            "node": "Gmail Manager Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If>5": {
      "main": [
        [
          {
            "node": "Gmail HR Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Manager Approve": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail HR Escalation": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "If>2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If>5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f48ceab3-78e9-4080-97d1-eee201ee06a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4da3e4feddd42df58fa861bd27ff786155b680eb2d7948e126da15f5d08ab036"
  },
  "id": "AtZpn9yzwbP60BGS",
  "tags": []
}