src/workflows/Leaves_Classifier.json
{
  "name": "Leaves-Classifier",
  "nodes": [
    {
      "parameters": {
        "path": "leaves-classifier",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "ae101a6d-380f-4ee1-a15f-923da2fbd60c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -440,
        0
      ],
      "typeVersion": 1,
      "webhookId": "e1a9cab2-cceb-40ab-809f-99e875b3103e"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "89665f5d46a86439ef11c18072955f89fbd9617f964a09d81eed03dce56f2f34@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Leaves"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.body.startDate }}",
          "timeMax": "={{ $json.body.endDate }}"
        }
      },
      "id": "5d7b3e12-4a77-4ca0-ae39-6e230e83089f",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        -220,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eFoIy4oVG0Lwyo57",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba3b1c44-fed0-49ab-b563-f53a0bee6c1c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "confirmed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        0
      ],
      "id": "ca340dbc-99c3-450b-8bab-9c618b08336e",
      "name": "Filter Confirmed Events"
    },
    {
      "parameters": {
        "inputText": "={{ $json.summary }}",
        "categories": {
          "categories": [
            {
              "category": "Casual Leaves",
              "description": "=Casual Leave"
            },
            {
              "category": "=Sick Leaves",
              "description": "Sick Leave"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        400,
        -40
      ],
      "id": "d57979ce-9408-44fa-9ac8-2d446c6b5396",
      "name": "Classify Events"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{ $json.creator.email }}"
            },
            {
              "name": "Days",
              "value": "={{ \n  Math.round(\n    (new Date($json[\"end\"][\"dateTime\"]).getTime() - new Date($json[\"start\"][\"dateTime\"]).getTime()) / (1000 * 3600 * 24)\n  ) \n}}\n"
            },
            {
              "name": "Type",
              "value": "Casual Leave"
            }
          ]
        },
        "options": {}
      },
      "id": "d0684fcc-3788-4a84-b19c-701f7fa0c71b",
      "name": "Filter Holiday Days",
      "type": "n8n-nodes-base.set",
      "position": [
        920,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{ $json.creator.email }}"
            },
            {
              "name": "Days",
              "value": "={{ \n  Math.round(\n    (new Date($json[\"end\"][\"dateTime\"]).getTime() - new Date($json[\"start\"][\"dateTime\"]).getTime()) / (1000 * 3600 * 24)\n  ) \n}}\n"
            },
            {
              "name": "Type",
              "value": "Sick Leave"
            }
          ]
        },
        "options": {}
      },
      "id": "dbd18368-390c-46bd-baa3-f941a5108b0e",
      "name": "Filter Illness Days",
      "type": "n8n-nodes-base.set",
      "position": [
        920,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet names = items.map(e => e.json.Name);\nlet unique_names = [...new Set(names)];\n\nlet results = [];\n\nfor (let name of unique_names) {\n  let matching_items = items.filter(e => e.json.Name === name);\n  \n  let totalDays = matching_items.reduce((sum, entry) => {\n    return sum + parseInt(entry.json.Days.trim());\n  }, 0);\n\n  // Use first matching item as base for Type\n  let type = matching_items[0].json.Type;\n\n  results.push({\n    json: {\n      Name: name,\n      Days: totalDays,\n      Type: type\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "11696d67-9f69-46aa-acb2-b7e4ddb41368",
      "name": "Combine Holiday Counts",
      "type": "n8n-nodes-base.code",
      "position": [
        1500,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet names = items.map(e => e.json.Name);\nlet unique_names = [...new Set(names)];\n\nlet results = [];\n\nfor (let name of unique_names) {\n  let matching_items = items.filter(e => e.json.Name === name);\n  \n  let totalDays = matching_items.reduce((sum, entry) => {\n    return sum + parseInt(entry.json.Days.trim());\n  }, 0);\n\n  // Use first matching item as base for Type\n  let type = matching_items[0].json.Type;\n\n  results.push({\n    json: {\n      Name: name,\n      Days: totalDays,\n      Type: type\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "80549fc9-8526-4808-ba0a-ae72d1b7e091",
      "name": "Combine Illness Counts",
      "type": "n8n-nodes-base.code",
      "position": [
        1500,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2cd5dae1-d641-48ff-8ed9-a13d6851467a",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        1700,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst stats = {\n  casualLeaves: 0,\n  sickLeaves: 0,\n  totalEmployees: 50, // This should be fetched from your employee database\n  activeRequests: 0\n};\n\nconst recentActivity = [];\n\nfor (const item of items) {\n  if (item.json.Type === 'Casual Leave') {\n    stats.casualLeaves += parseInt($('Combine Holiday Counts').first().json.Days.toString());\n  } else if (item.json.Type === 'Sick Leave') {\n    stats.sickLeaves += parseInt($('Combine Illness Counts').first().json.Days.toString());\n  }\n\n  recentActivity.push({\n    id: item.json.id || Math.random().toString(36).substr(2, 9),\n    employeeName: item.json.Name,\n    leaveType: item.json.Type.toUpperCase(),\n    status: 'APPROVED',\n    startDate: $('Classify Events').first().json.start.dateTime,\n    endDate: $('Classify Events').first().json.end.dateTime,\n    timestamp: new Date().toISOString()\n  });\n}\n\nreturn [{\n  json: {\n    stats,\n    recentActivity\n  }\n}];"
      },
      "id": "ccc04fb2-f600-445d-a0ee-2911d59c35d3",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [
        2100,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        540,
        100
      ],
      "id": "eb5d9cd9-da02-49db-82f1-bd59ebadb78c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1E3ZL2vIpcClZdxZ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow Documentation\n\nThis workflow is designed to classify and summarize leave requests from a Google Calendar. Here's a breakdown of each node's function:\n\n1.  **Webhook**: This node acts as the entry point for the workflow, triggering it when an external HTTP request is received. It expects `startDate` and `endDate` in its body.\n\n2.  **Get Calendar Events**: Fetches events from a specified Google Calendar within the `startDate` and `endDate` provided by the Webhook.\n\n3.  **Filter Confirmed Events**: Filters the calendar events, ensuring only those with a \"confirmed\" status proceed.\n\n4.  **Classify Events**: Uses a Groq Chat Model (LLM) to classify the event summaries into \"Casual Leaves\" or \"Sick Leaves\".\n\n5.  **Filter Holiday Days** & **Filter Illness Days**: These Set nodes process the classified events. They extract the employee's email (Name), calculate the duration of the leave (Days), and assign the correct \"Type\" (Casual Leave or Sick Leave).\n\n6.  **Combine Holiday Counts** & **Combine Illness Counts**: These Code nodes aggregate the casual and sick leave days, respectively, by employee name, providing a total count for each type of leave per person.\n\n7.  **Merge Data**: Combines the processed data from both \"Combine Holiday Counts\" and \"Combine Illness Counts\" branches into a single data stream.\n\n8.  **Format Response**: This final Code node formats the aggregated leave data and recent activity into a structured JSON response, ready to be sent back to the requesting system. It includes statistics on casual and sick leaves, total employees, and active requests, along with a log of recent leave activities.",
        "height": 500,
        "width": 1300
      },
      "type": "n8n-nodes-base.stickyNote",
      "name": "Workflow Documentation",
      "position": [
        160,
        -980
      ],
      "id": "generated-95638196-849f-4ce5-8157-02a03c372fe5"
    },
    {
      "parameters": {
        "content": "## 🚀 Initial Data Flow\n\nThis section handles the initiation of the workflow and the initial data retrieval and filtering:\n\n1.  **Webhook**: This node acts as the entry point, triggering the workflow upon receiving an HTTP request. It's configured to listen for `GET` requests on `api/leaves/classifier`.\n2.  **Get Calendar Events**: Connects to Google Calendar to fetch events within a specified date range (from the webhook body). It retrieves all events from the \"Leaves\" calendar.\n3.  **Filter Confirmed Events**: An If node that filters the incoming calendar events, passing only those with a `status` of \"confirmed\" to the next stage.",
        "height": 560,
        "width": 680,
        "color": 5
      },
      "name": "Initial Data Flow",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -500,
        -340
      ],
      "id": "generated-e496497e-a881-4eb9-9de4-0ad451438a9e"
    },
    {
      "parameters": {
        "content": "## 🤖 Event Classification\n\nThis part of the workflow uses AI to categorize the confirmed events:\n\n1.  **Classify Events**: This node utilizes a connected AI Language Model (Groq Chat Model) to classify the `summary` of each calendar event into predefined categories like \"Casual Leaves\" or \"Sick Leaves\".\n2.  **Groq Chat Model**: This node provides the AI capabilities for the `Classify Events` node, using the `llama-3.3-70b-versatile` model to perform text classification.",
        "height": 620,
        "width": 480,
        "color": 7
      },
      "name": "Event Classification (AI)",
      "position": [
        280,
        -360
      ],
      "type": "n8n-nodes-base.stickyNote",
      "id": "generated-e98f82d4-1cba-4651-8c42-a624980408ea"
    },
    {
      "parameters": {
        "content": "## 📊 Leave Type Data Preparation\n\nAfter classification, events are separated and prepared based on their leave type:\n\n1.  **Filter Holiday Days**: This Set node processes events classified as \"Casual Leaves\". It extracts the employee's `Name` (email), calculates the `Days` duration, and sets the `Type` to \"Casual Leave\".\n2.  **Filter Illness Days**: Similar to the above, this Set node handles events classified as \"Sick Leaves\". It extracts the `Name`, calculates the `Days` duration, and sets the `Type` to \"Sick Leave\".",
        "height": 660,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "name": "Leave Type Data Preparation",
      "position": [
        800,
        -420
      ],
      "id": "generated-aa8e955f-26df-4ea5-bb7c-c3d953cd14ad"
    },
    {
      "parameters": {
        "content": "## 🔄 Data Aggregation & Merging\n\nThis section aggregates the prepared leave data and merges it for final processing:\n\n1.  **Combine Holiday Counts**: A Code node that processes all \"Casual Leave\" items. It groups them by employee `Name` and sums up the `Days` for each employee, creating a consolidated record.\n2.  **Combine Illness Counts**: Similarly, this Code node processes \"Sick Leave\" items, grouping them by `Name` and summing their `Days` to provide consolidated sick leave data.\n3.  **Merge Data**: This node combines the output from `Combine Holiday Counts` and `Combine Illness Counts` into a single dataset, allowing for unified processing in the next step.",
        "height": 660,
        "width": 600,
        "color": 6
      },
      "position": [
        1320,
        -420
      ],
      "name": "Data Aggregation & Merging",
      "type": "n8n-nodes-base.stickyNote",
      "id": "generated-647ad100-d89f-4cf3-8201-98f361acc6b3"
    },
    {
      "parameters": {
        "content": "## 📤 Final Response Formatting\n\nThis final step structures the aggregated data into the desired output format:\n\n1.  **Format Response**: A Code node that takes the merged data and calculates overall statistics (e.g., total casual leaves, sick leaves, active requests) and compiles a `recentActivity` array. The `totalEmployees` is a hardcoded value in this workflow, but is noted that it should be fetched from an employee database. It then returns a single JSON object containing these `stats` and `recentActivity`.",
        "height": 500,
        "width": 400,
        "color": 7
      },
      "position": [
        1960,
        -200
      ],
      "name": "Final Response Formatting",
      "type": "n8n-nodes-base.stickyNote",
      "id": "generated-332582b2-8952-4113-b65d-53a98f018d0a"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events": {
      "main": [
        [
          {
            "node": "Filter Confirmed Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Confirmed Events": {
      "main": [
        [
          {
            "node": "Classify Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Events": {
      "main": [
        [
          {
            "node": "Filter Illness Days",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter Holiday Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Holiday Days": {
      "main": [
        [
          {
            "node": "Combine Holiday Counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Illness Days": {
      "main": [
        [
          {
            "node": "Combine Illness Counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Holiday Counts": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Illness Counts": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Events",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f28a2e87-9158-4718-a4dc-b211a24751ba",
  "meta": {
    "instanceId": "b49f74740e4a155f21338af76c2aa80263c734ce9c55ab82f1aa145d7b4ee228"
  },
  "id": "4Kn8ugJpqtGHVcmR",
  "tags": []
}