src/workflows/PDF_Summarizer_Assistant.json
{
  "name": "PDF Summarizer Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document_upload",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data",
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        140
      ],
      "id": "d5bb4ddd-88d4-4506-b10e-b6f0e3a65f3c",
      "name": "Webhook",
      "webhookId": "eee26170-bc34-4dd8-b2ee-7ed3c21285eb"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9b31027-ea3e-497d-b23d-df1953d6b08a",
              "leftValue": ">binary.document0.data.Mime Type",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8f7f4644-d5c8-4aa4-9018-73ab548c4ff8",
              "leftValue": ">binary.document0.data.Mime Type>binary",
              "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e34cdc09-5c75-4aa7-a03c-d66bf84bc868",
              "leftValue": ">binary.document0.data.Mime Type>binary",
              "rightValue": "plain/txt",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a2910b9a-d443-4255-9517-a68e10eeae9b",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -260,
        140
      ],
      "id": "e9822e04-2fee-4455-a0d6-cdd30b7bc2bc",
      "name": "check file type"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        720,
        140
      ],
      "id": "69acf56b-b9b7-44aa-b014-d9ad5de18db9",
      "name": "When chat message received",
      "webhookId": "a6121e6a-dfb2-4e92-af35-aaff97d9fa50"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.pages[0].markdown }}",
        "messages": {
          "messageValues": [
            {
              "message": "provide: key points/ executive summary / entities / topics extracted"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        920,
        -60
      ],
      "id": "b52b887d-2a50-441a-8275-56921230d1be",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1080,
        300
      ],
      "id": "2c646dc0-7326-4238-b3d5-56f01f0e02f4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "sEUcjBymB5Quq3zY",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        40
      ],
      "id": "7c778de7-fb7c-4fe8-8b2f-c9df5b40f7c2",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1300,
        -60
      ],
      "id": "416792a7-635f-4740-9e21-19fb1537f583",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "srikanthjosh539@gmail.com",
        "subject": "Here is your summarization text ",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1500,
        -60
      ],
      "id": "3fa70c7f-ae67-4419-af56-003355e8aa40",
      "name": "Gmail",
      "webhookId": "41a1df2a-5866-494d-8f89-b247ff026a2a",
      "credentials": {
        "gmailOAuth2": {
          "id": "yQEgzuRyzjXIoFM1",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -60
      ],
      "id": "a77b784d-6538-4b6f-a2d7-ddf3a794daaf",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OvR9HISNBOPwDyw6",
          "name": "Mistral AI"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        -60
      ],
      "id": "62793df4-0d93-4a7f-a0d2-e1a44925430d",
      "name": "signed url",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OvR9HISNBOPwDyw6",
          "name": "Mistral AI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -60
      ],
      "id": "87b00e9b-c99f-4369-89f1-3b0c0ca304eb",
      "name": "ocr results",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OvR9HISNBOPwDyw6",
          "name": "Mistral AI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "check file type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check file type": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "signed url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "signed url": {
      "main": [
        [
          {
            "node": "ocr results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ocr results": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "61aaa864-aaaf-4eb1-8cdf-d322f2d93de3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5bd368e942320c16690e1a71cfa468777455c92b450be774f87882024307b470"
  },
  "id": "inoIx1IiIk1SDvoT",
  "tags": []
}