src/workflows/Performance_Review_Summary_Agent.json
{
  "name": "Performance Review Summary Agent (Employee Star Rating Generator)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "performance-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        60
      ],
      "id": "779136cd-05b5-4025-8442-d96168e3fbbb",
      "name": "Webhook",
      "webhookId": "d11f1215-33c4-43db-96b8-6cfce4c96a92"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        -280
      ],
      "id": "7a179049-e2d9-4501-80fa-c10a8dea454a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1240,
        160
      ],
      "id": "9009e224-67d7-47b8-b67d-af8eff4ada7d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "nGIUmZLHxRZbnptj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const employees = $items().map(i => i.json);\nlet html = `<h2>📬 Employee Performance Summary — Q2 2025</h2>`;\n\nemployees.forEach((emp, i) => {\n  const strengths = Array.isArray(emp.strengths) ? emp.strengths : [];\n  const improvements = Array.isArray(emp.improvements) ? emp.improvements : [];\n\n  html += `\n  <h3>${i + 1}. ${emp.employee_name}</h3>\n  <p><strong>🎯 Department:</strong> ${emp.department}</p>\n  <p><strong>⭐ Overall Rating:</strong> ${emp.applied_rating || emp.rating || 0} / 5</p>\n\n  <p><strong>🔹 Summary:</strong><br/>\n  ${emp.summary || \"No summary provided.\"}</p>\n\n  <p><strong>✅ Strengths:</strong></p>\n  <ul>\n    ${strengths.map(s => `<li>${s}</li>`).join(\"\")}\n  </ul>\n\n  <p><strong>⚠️ Improvement Areas:</strong></p>\n  <ul>\n    ${improvements.map(s => `<li>${s}</li>`).join(\"\")}\n  </ul>\n\n  <p><em>Generated by QAID's Performance Review Summary Agent</em></p>\n  <hr/>\n  `;\n});\n\nreturn [{ json: { htmlBody: html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        -300
      ],
      "id": "d49b45d4-1dfd-433e-979f-d58ede79efe6",
      "name": "Code4"
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "convertType": "htmlToPDF",
        "html": "={{ $json.html }}",
        "advancedOptions": {}
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        3020,
        -40
      ],
      "id": "262e71f9-fc91-4381-9fff-8a4d6c844e91",
      "name": "PDFco Api",
      "credentials": {
        "pdfcoApi": {
          "id": "d4gawq7JDvfWevvD",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg",
          "mode": "list",
          "cachedResultName": "PerformanceReviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 523473108,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg/edit#gid=523473108"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "employee_name": "={{ $json.employee_name }}",
            "department": "={{ $json.department }}",
            "kpi_score": "={{ $json.kpi_score }}",
            "ai_rating": "={{ $json.ai_rating }}",
            "applied_rating": "={{ $json.applied_rating }}",
            "employee_id": "={{ $json.employee_id }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [
            "employee_name"
          ],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employee_name",
              "displayName": "employee_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kpi_score",
              "displayName": "kpi_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_rating",
              "displayName": "ai_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "applied_rating",
              "displayName": "applied_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2480,
        60
      ],
      "id": "a24c4fa4-346c-48a7-a0e3-4e2a29a04857",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OvU4TmlWV9Smz6Cp",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed279a0b-8fab-45c4-bb8a-77ce9dacc193",
              "leftValue": "={{ $json.summary !== undefined && $json.summary !== \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1820,
        -100
      ],
      "id": "2f253f8b-dd87-41a0-8a39-b1a71ec36f74",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        2580,
        -860
      ],
      "id": "34c4002b-3e9b-45ba-863b-3aa9020dff89",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg",
          "mode": "list",
          "cachedResultName": "PerformanceReviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Employee ID",
              "lookupValue": "={{ $json.employee_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1360,
        340
      ],
      "id": "6e6fc632-2d94-45d0-8491-7c1ac615a642",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OvU4TmlWV9Smz6Cp",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.raw_chunk;\n\n// 🧼 Clean malformed JSON (common OpenRouter/OpenAI issues)\nlet cleaned = raw\n  .replace(/,\\s*}/g, '}')\n  .replace(/,\\s*]/g, ']')\n  .replace(/\\\\n/g, '\\n')\n  .replace(/\\\\\"/g, '\"')\n  .replace(/“|”/g, '\"')\n  .replace(/‘|’/g, \"'\");\n\n// 🔍 Helper to extract from raw using RegEx (fallback if parse fails)\nconst extractValue = (key) => {\n  const regex = new RegExp(`\"${key}\"\\\\s*:\\\\s*\"?(.*?)\"?[,}]`, 'i');\n  const match = raw.match(regex);\n  return match ? match[1] : null;\n};\n\n// Extract fields even if parsing fails\nconst employeeId = extractValue(\"employee id\");\nconst name = extractValue(\"name\");\nconst rating = extractValue(\"rating\");\nconst department = extractValue(\"department\");\nconst summary = extractValue(\"summary\");\n\ntry {\n  const parsed = JSON.parse(cleaned);\n\n  return [{\n    json: {\n      ...parsed,\n      employee_id: employeeId || parsed[\"employee id\"] || parsed.employee_id || null,\n      name: name || parsed.name || null,\n      rating: rating || parsed.rating || null,\n      department: department || parsed.department || null,\n      summary: summary || parsed.summary || null,\n      success: true\n    }\n  }];\n} catch (err) {\n  return [{\n    json: {\n      success: false,\n      error_message: err.message,\n      employee_id: employeeId || null,\n      name: name || null,\n      rating: rating || null,\n      department: department || null,\n      summary: summary || null,\n      raw_chunk: raw // ✅ ONLY included here\n    }\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        340
      ],
      "id": "5c203cbd-207a-4aff-9291-1e356ef6cf7e",
      "name": "Code5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1680,
        660
      ],
      "id": "bbe91fc7-0e91-45ff-90a7-4b0f12f8ddb4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "U7teSj6jtdwMLRbW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg",
          "mode": "list",
          "cachedResultName": "PerformanceReviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        560,
        -280
      ],
      "id": "fb90dfe7-941b-4d53-99e4-236d56a2f3f3",
      "name": "Google Sheet Reviews",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OvU4TmlWV9Smz6Cp",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst webhookData = Array.isArray(body?.reviews) ? body.reviews : [];\nconst result = webhookData.map(item => ({ json: item }));\n\n// Add a flag so we can identify webhook records\nresult.forEach(r => r.json.source = 'webhook');\n\n// Output what we have, even if it's empty\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        60
      ],
      "id": "f457116a-e28f-4cf8-a81c-1e0017a003db",
      "name": "Webhook JSON Extractor"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg",
          "mode": "list",
          "cachedResultName": "PerformanceReviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee ID": "={{ $json.employee_id }}",
            "Name": "={{ $json.employee_name }}",
            "Department": "={{ $json.department }}",
            "Manager Feedback": "={{ $json.manager_feedback }}",
            "Peer Feedback": "={{ $json.peer_feedback }}",
            "KPI Score": "={{ $json.kpi_score }}",
            "Review Status": "={{ $json.review_status }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [
            "Employee ID"
          ],
          "schema": [
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager Feedback",
              "displayName": "Manager Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Peer Feedback",
              "displayName": "Peer Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "KPI Score",
              "displayName": "KPI Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        600,
        60
      ],
      "id": "68fb0f94-34d5-4a21-b3e1-8d3a14e5527a",
      "name": "Append Webhook Data to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OvU4TmlWV9Smz6Cp",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function cleanText(text) {\n  if (!text) return \"\";\n  return text\n    .replace(/(?:hi|hello|dear|thanks|regards|cheers)[.,]*/gi, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst now = new Date().toISOString();\nconst processed = [];\n\nfor (const item of items) {\n  const review = item.json;\n\n  // Try both naming formats for different sources\n  const status = review[\"Review Status\"] || review.review_status || \"\";\n  if (status.toLowerCase() !== \"completed\") {\n    continue;\n  }\n\n  const kpiRaw = parseFloat(review[\"KPI Score\"] || review.kpi_score) || 0;\n  const normalizedKPI = Math.round((kpiRaw / 100) * 5 * 10) / 10;\n\n  processed.push({\n    json: {\n      employee_id: review[\"Employee ID\"] || review.employee_id || \"Unknown\",\n      employee_name: review[\"Name\"] || review.employee_name || \"Unknown\",\n      department: review[\"Department\"] || review.department || \"Unknown\",\n      manager_feedback: cleanText(review[\"Manager Feedback\"] || review.manager_feedback),\n      peer_feedback: cleanText(review[\"Peer Feedback\"] || review.peer_feedback),\n      normalized_kpi_score: normalizedKPI,\n      timestamp: review.timestamp || now,\n      source: review.source || \"auto\"\n    }\n  });\n}\n\nif (processed.length === 0) {\n  return [{ json: { message: \"⚠️ No completed reviews to process.\" } }];\n}\n\nreturn processed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        -100
      ],
      "id": "21360fba-e544-416f-8aa8-77930537e6e6",
      "name": "Normalize & Filter Reviews",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst now = new Date().toISOString(); // current timestamp\n\nfor (const item of items) {\n  const raw = item.json.output || '';\n\n  // Step 1: Split by \"}{\" or \"}\\n{\" to separate JSON objects\n  const entries = raw\n    .split(/}\\s*{/g)\n    .map((chunk) => {\n      if (!chunk.startsWith('{')) chunk = '{' + chunk;\n      if (!chunk.endsWith('}')) chunk = chunk + '}';\n      return chunk;\n    });\n\n  // Step 2: Parse each entry\n  for (const rawChunk of entries) {\n    try {\n      const cleaned = rawChunk\n        .replace(/\\\\n/g, '')     // Remove escaped newlines\n        .replace(/\\\\\"/g, '\"')    // Replace escaped quotes\n        .replace(/\\s+/g, ' ')    // Normalize whitespace\n        .trim();\n\n      const parsed = JSON.parse(cleaned);\n\n      results.push({\n        json: {\n          employee_id: parsed[\"employee id\"] || parsed.employee_id || 'Unknown',\n          employee_name: parsed.name || 'Unknown',\n          department: parsed.department || 'Unknown',\n          summary: parsed.summary || '',\n          rating: parsed.rating || 0,\n          rating_reason: parsed.rating_reason || '',\n          strengths: parsed.strengths || [],\n          improvements: parsed.improvements || [],\n          timestamp: now\n        }\n      });\n    } catch (err) {\n      results.push({\n        json: {\n          error: '❌ Failed to parse entry',\n          raw_chunk: rawChunk,\n          timestamp: now\n        }\n      });\n    }\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        -100
      ],
      "id": "5ee4c3e5-2cb8-41ea-8d06-4304ad6ec7c0",
      "name": "Parser: AI JSON Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI HR assistant.\n\nSummarize the following performance review into:\n• A 3-sentence summary of the employee's performance\n• Top 3 strengths\n• Top 2 areas of improvement\n• A star rating between 1 to 5 with reasoning\n\nEmployee Details:\n- Employee id: {{ $json.employee_id }}\n- timestamp:{{ $json.timestamp }}\n- Name: {{ $json.employee_name }}\n- Department: {{ $json.department }}\n- Normalized KPI Score (1–5): {{ $json.normalized_kpi_score }}\n- Manager Feedback: {{ $json.manager_feedback }}\n- Peer Feedback: {{ $json.peer_feedback }}\n\nReturn ONLY the following JSON format:\n{\n  \"employee id\": \"...\",\n  \"timestamp\": \"...\",\n  \"name\": \"...\",\n  \"department\": \"...\",\n  \"summary\": \"...\",\n  \"rating\": 4.5,\n  \"rating_reason\": \"...\",\n  \"strengths\": [\"...\", \"...\", \"...\"],\n  \"improvements\": [\"...\", \"...\"]\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1200,
        -100
      ],
      "id": "3de1ddae-e118-4008-a140-a85b2eb3be08",
      "name": "AI Agent (Primary Model)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI HR assistant.\n\nSummarize the following performance review into:\n• A 3-sentence summary of the employee's performance\n• Top 3 strengths\n• Top 2 areas of improvement\n• A star rating between 1 to 5 with reasoning\n\nEmployee Details:\n- Employee id: {{ $json['Employee ID'] }}\n- Name: {{ $json.Name }}\n- Department: {{ $json.Department }}\n- Normalized KPI Score (1–5): {{ $json['KPI Score'] }}\n- Manager Feedback: {{ $json['Manager Feedback'] }}\n- Peer Feedback: {{ $json['Peer Feedback'] }}\n\nReturn ONLY the following JSON format:\n{\n  \"employee id\": \"...\",\n  \"timestamp\": \"...\",\n  \"name\": \"...\",\n  \"department\": \"...\",\n  \"summary\": \"...\",\n  \"rating\": 4.5,\n  \"rating_reason\": \"...\",\n  \"strengths\": [\"...\", \"...\", \"...\"],\n  \"improvements\": [\"...\", \"...\"]\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1680,
        340
      ],
      "id": "ac67a709-1621-460a-a413-dc1abe75eb0a",
      "name": "AI Agent (Backup Model)"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || ''; // or replace with the string if outside n8n\n\n// Step 1: Clean the string\nconst cleaned = raw\n  .replace(/^Here is the summary in the requested JSON format:\\s*/i, '')\n  .replace(/\\\\n/g, '')     // Remove escaped newlines\n  .replace(/\\\\\"/g, '\"')    // Replace escaped quotes\n  .replace(/(\\s+)?({)/, '{') // Remove space before JSON\n  .replace(/}(\\s+)?$/, '}')  // Ensure it ends with proper }\n  .trim();\n\n// Step 2: Extract just the JSON content\nconst start = cleaned.indexOf('{');\nconst end = cleaned.lastIndexOf('}');\nconst jsonBlock = cleaned.slice(start, end + 1);\n\n// Step 3: Parse JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonBlock);\n} catch (err) {\n  return [{ json: { error: \"❌ Failed to parse JSON\", raw: raw }}];\n}\n\n// Step 4: Return cleaned and normalized output\nreturn [{\n  json: {\n    employee_id: parsed[\"employee id\"] || parsed.employee_id || \"Unknown\",\n    employee_name: parsed.name || \"Unknown\",\n    department: parsed.department || \"Unknown\",\n    summary: parsed.summary || \"\",\n    rating: parsed.rating || 0,\n    rating_reason: parsed.rating_reason || \"\",\n    strengths: parsed.strengths || [],\n    improvements: parsed.improvements || [],\n    timestamp: parsed.timestamp || new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        340
      ],
      "id": "e8d8094f-ff1e-4346-83e3-82cfc49a1938",
      "name": "Parser: Retry AI Output"
    },
    {
      "parameters": {
        "sendTo": "lokeshmani1415@gmail.com",
        "subject": "Performance Summary generation failed",
        "message": "=Summary failed  : \n{{ $json['Employee ID'] }} ,{{ $json.Name }}, {{ $json.Department }}, {{ $json['Manager Feedback'] }}, {{ $json['Peer Feedback'] }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1700,
        120
      ],
      "id": "1699615a-c8b8-4508-bbf5-839aa0902a7b",
      "name": "Alert HR: AI Summary Failed",
      "webhookId": "416f82c7-ba21-4966-bbe6-b61fadd8149f",
      "credentials": {
        "gmailOAuth2": {
          "id": "TdtsbWWbffAFjGwq",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "name": "=performance_summary_Q2_2025.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1NJfCJwyq-QqJ2D_GP87_jtylJMGfhlNs",
          "mode": "list",
          "cachedResultName": "performance_summary_Q2_2025",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1NJfCJwyq-QqJ2D_GP87_jtylJMGfhlNs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3680,
        -40
      ],
      "id": "8f8c5583-e505-49ae-8da0-8a80ef65e675",
      "name": "Upload PDF to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0hfX8qcOL0ozNJ1W",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3340,
        -40
      ],
      "id": "69cf2100-b021-40bd-a7f9-4538b6b8bbbe",
      "name": "Upload Report via HTTP"
    },
    {
      "parameters": {
        "html": "{{ $json.htmlBody }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2740,
        -40
      ],
      "id": "c44d3010-06fc-490e-ac00-c7358c28e423",
      "name": "Generate: PDF Report"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg",
          "mode": "list",
          "cachedResultName": "PerformanceReviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1980302730,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165X-RAbBiBn2uclG6rTpeOSYxHVyIZuvLrpt4HeL6rg/edit#gid=1980302730"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee Name": "={{ $json.employee_name }}",
            "Department": "={{ $json.department }}",
            "Summary": "={{ $json.summary }}",
            "AI Rating": "={{ $json.ai_rating }}",
            "Manager Sentiment": "={{ $json.manager_sentiment }}",
            "Peer Sentiment": "={{ $json.peer_sentiment }}",
            "HR Override Rating": "={{ $json.hr_override_rating }}",
            "Improvements": "={{ $json.improvements }}",
            "Strengths": "={{ $json.strengths }}",
            "Rating Reason": "={{ $json.rating_reason }}",
            "KPI Score": "={{ $json.kpi_score }}",
            "Final Rating": "={{ $json.rating }}"
          },
          "matchingColumns": [
            "Employee Name"
          ],
          "schema": [
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Rating",
              "displayName": "Final Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "KPI Score",
              "displayName": "KPI Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Rating",
              "displayName": "AI Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager Sentiment",
              "displayName": "Manager Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Peer Sentiment",
              "displayName": "Peer Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HR Override Rating",
              "displayName": "HR Override Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating Reason",
              "displayName": "Rating Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Improvements",
              "displayName": "Improvements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2560,
        -580
      ],
      "id": "e0c28466-ef59-4566-b6d3-6dbe7f8ce2a2",
      "name": "Final Summary to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OvU4TmlWV9Smz6Cp",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getSentimentScore(text) {\n  const positiveWords = ['excellent', 'great', 'strong', 'outstanding', 'positive', 'collaborative', 'consistent', 'creative'];\n  const negativeWords = ['struggle', 'late', 'poor', 'weak', 'issue', 'lack', 'communication', 'delay'];\n\n  let score = 3;\n  const textLower = text.toLowerCase();\n\n  for (const word of positiveWords) {\n    if (textLower.includes(word)) score += 0.3;\n  }\n\n  for (const word of negativeWords) {\n    if (textLower.includes(word)) score -= 0.3;\n  }\n\n  return Math.max(1, Math.min(5, Math.round(score * 10) / 10));\n}\n\nreturn items.map(item => {\n  const data = item.json;\n\n  const kpi = parseFloat(data.normalized_kpi_score || 0);\n  const ai_rating = parseFloat(data.rating || 0);\n  const managerSentiment = getSentimentScore(data.manager_feedback || '');\n  const peerSentiment = getSentimentScore(data.peer_feedback || '');\n  const sentimentGap = Math.abs(managerSentiment - peerSentiment);\n  const consistencyPenalty = sentimentGap > 1 ? 0.3 : 0;\n\n  let blendedScore = (\n    (kpi * 0.4) +\n    ((managerSentiment + peerSentiment) / 2) * 0.4 +\n    (ai_rating * 0.2)\n  );\n  blendedScore = Math.max(1, Math.min(5, Math.round((blendedScore - consistencyPenalty) * 10) / 10));\n\n  // Clean + validate HR override rating\n  let overrideRaw = data.hr_override_rating;\n  let override = null;\n\n  if (typeof overrideRaw === 'string') {\n    overrideRaw = overrideRaw.trim();\n  }\n\n  const overrideParsed = parseFloat(overrideRaw);\n  if (!isNaN(overrideParsed) && overrideParsed >= 1 && overrideParsed <= 5) {\n    override = overrideParsed;\n  }\n\n  const finalRating = override !== null ? override : blendedScore;\n  const ratingReason = override !== null\n    ? `Overridden by HR to ${override}`\n    : `Blended: KPI (${kpi}), AI (${ai_rating}), Sentiment (${(managerSentiment + peerSentiment) / 2}), Consistency penalty (-${consistencyPenalty})`;\n\n  return {\n    json: {\n      ...data,\n      kpi_score: kpi,\n      ai_rating: ai_rating,\n      manager_sentiment: managerSentiment,\n      peer_sentiment: peerSentiment,\n      sentiment_gap: sentimentGap,\n      consistency_penalty: consistencyPenalty,\n      final_computed_rating: blendedScore,\n      hr_override_rating: override,  // will be null if not valid\n      applied_rating: finalRating,\n      rating_reason: ratingReason\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        -300
      ],
      "id": "9c2e9c76-022e-4373-a86a-fbf1fcb9169a",
      "name": "Star Rating Calculation"
    },
    {
      "parameters": {
        "sendTo": "lokeshmani1415@gmail.com",
        "subject": "Performance Summary ",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2820,
        -300
      ],
      "id": "f73b1014-540f-4ae7-8ff8-bd0c28d43e15",
      "name": "Performance Summary",
      "webhookId": "faa83a71-2332-44d8-a202-1a1f70c3537e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TdtsbWWbffAFjGwq",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook JSON Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheet Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Primary Model)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Performance Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate: PDF Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "Upload Report via HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Star Rating Calculation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "AI Agent (Backup Model)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert HR: AI Summary Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Backup Model)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheet Reviews": {
      "main": [
        [
          {
            "node": "Normalize & Filter Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook JSON Extractor": {
      "main": [
        [
          {
            "node": "Append Webhook Data to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Webhook Data to Sheet": {
      "main": [
        [
          {
            "node": "Normalize & Filter Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Filter Reviews": {
      "main": [
        [
          {
            "node": "AI Agent (Primary Model)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser: AI JSON Output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Primary Model)": {
      "main": [
        [
          {
            "node": "Parser: AI JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Backup Model)": {
      "main": [
        [
          {
            "node": "Parser: Retry AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser: Retry AI Output": {
      "main": [
        [
          {
            "node": "Star Rating Calculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Google Drive": {
      "main": [
        []
      ]
    },
    "Upload Report via HTTP": {
      "main": [
        [
          {
            "node": "Upload PDF to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate: PDF Report": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Star Rating Calculation": {
      "main": [
        [
          {
            "node": "Final Summary to Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c586fcb3-b983-4c75-8a51-d12b1a7e7feb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67642fb60b0f950d471edca6618906ba66a6df03bfac89fbb6efff0e3c6280c8"
  },
  "id": "1MLZyqsqYdV3vxSg",
  "tags": []
}