src/components/workflows/AI_Powered_Restaurant_Order_Chatbot.json
{
  "name": "AI_Powered_Restaurant_Order_Chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}\nYou are a polite and efficient restaurant ordering assistant.\n\nYou can take orders from the following menu. Recognize items even with minor spelling mistakes or flexible formats.\n\nMenu:\n- Veg Spring Rolls – ₹120\n- Chicken Wings – ₹180\n- Paneer Tikka – ₹150\n- Butter Chicken – ₹250\n- Palak Paneer – ₹220\n- Veg Biryani – ₹200\n- Chicken Biryani – ₹260\n- Butter Naan – ₹40\n- Tandoori Roti – ₹30\n- Masala Chai – ₹30\n- Cold Coffee – ₹80\n- Gulab Jamun (2 pcs) – ₹60\n- Ice Cream (Vanilla) – ₹50\n\n✅ Your job:\n- Extract ordered **items**, their **quantities**, and **table number**.\n- Allow input in any natural format like:\n  - \"2 butter chicken, 1 naan, table 4\"\n  - \"I'd like paneer tikka and chai, table no. 2\"\n- Use fuzzy matching to correct common misspellings (e.g., \"biriyani\" → \"Biryani\").\n- Handle missing details politely:\n  - If quantity is missing: \"How many {{item}} would you like?\"\n  - If table number is missing: \"Which table should I place this order to?\"\n\n✅ Final confirmation example:\n\"Thanks! Here's your order summary:\n2 Butter Chicken  \n1 Butter Naan  \nTable number: 4  \nShall I confirm this order?\"\n\n✅ On confirmation:\n\"Thank you for confirming! Your order will be prepared shortly. Enjoy your time with us!\"\n\nAlways maintain clarity, confirm all details before proceeding, and respond like a friendly human.\n",
        "options": {}
      },
      "id": "e20d00e0-8fb3-4605-b2f9-487c4533af99",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        600,
        -840
      ],
      "typeVersion": 1.9,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "description": "This tool sends the text output generated by the AI Agent node to another n8n workflow for additional handling or automation.",
        "workflowId": {
          "__rl": true,
          "value": "wTlrP2QHI7g0yIGl",
          "mode": "list",
          "cachedResultName": "My workflow 33"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user Message": "={{ $('Edit Fields').item.json.body }}"
          },
          "matchingColumns": [
            "user Message"
          ],
          "schema": [
            {
              "id": "user Message",
              "displayName": "user Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "8310a6c6-46ba-4b25-88a4-32c151b6809c",
      "name": "Call n8n Workflow Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        620,
        -520
      ],
      "notesInFlow": false,
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id || $json.userId || $json.chat_id || 'guest-session' }}"
      },
      "id": "257d23f8-2f1a-4615-bc2f-7c0cc0313867",
      "name": "Last 5 conversations Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        460,
        -560
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "03855d19-fadb-4ded-8aaa-07566948c44d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -840
      ],
      "id": "768d63f3-4c35-46e5-a595-2b61c58be15f",
      "name": "Webhook",
      "webhookId": "03855d19-fadb-4ded-8aaa-07566948c44d"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        -600
      ],
      "id": "e51cf75d-cb18-470e-907e-736f7f7e7846",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ceY0M3DCh0ie2JRL",
          "name": "OpenAi account 12"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d434c7c-020d-40cf-a4c9-79304b902f2c",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -840
      ],
      "id": "91121075-985b-46f1-a272-cc013274324f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "enableResponseOutput": true,
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        -840
      ],
      "id": "26c37513-8fb6-471c-8eb6-f9769d7deb95",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Last 5 conversations Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc698517-25e7-4dfa-81c8-614fe9612617",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4da3e4feddd42df58fa861bd27ff786155b680eb2d7948e126da15f5d08ab036"
  },
  "id": "wTlrP2QHI7g0yIGl",
  "tags": []
}